.idea
autostart
dconf
enchant
evolution
eog
flameshot
GitKraken
gnome-session
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
ibus
JetBrains
kitty
nautilus
nitrogen
pulse
update-notifier
.gsd-keyboard.settings-ported
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
!/i3/
!/polybar/